@media (max-width: 575px) {
  .conversion-container {
    display: block;
  }
  .conversion-output {
    margin: auto;
  }
  img {
    transform: rotate(90deg);
  }
}

@media (min-width: 576px) {
  .conversion-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Tabs {
  margin: 0 auto;
  width: fit-content;

  ul {
    border: 1px solid #aaa;
    margin: 0;
    padding: 0;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    background: #ececec;

    li {
      padding: 0.5em 1em 0.8em !important;
    }
  }

  .TabPanel {
    .conversion-container {
      border-left: 1px solid #aaa;;
      border-right: 1px solid #aaa;;
      border-bottom: 1px solid #aaa;
      border-bottom-right-radius: 0.1em;
      border-bottom-left-radius: 0.1em;

      .conversion-control {
        padding: 1.8em;
    
        .conversion-input,
        .conversion-output {
          border: 1px solid #ccc;
          border-top-left-radius: 0.1em;
          border-top-right-radius: 0.1em;
          font-size: 2em;
          height: 1.25em;
          padding: 0.25em;
          text-align: center;
          width: 5em;
        }

        .conversion-output {
          overflow: scroll;
        }
      }
    }
  }
}